@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body { width: 100vw; margin: 0; padding: 0; background-color: #fbf9f9; }
  body { overscroll-behavior: none; -webkit-tap-highlight-color: transparent; min-height: max(884px, 100dvh); }
  .pb-safe { padding-bottom: env(safe-area-inset-bottom, 0px); }
  .pt-safe { padding-top: env(safe-area-inset-top, 0px); }
  .material-symbols-outlined { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; }
  main > :first-child { margin-top: 0 !important; }
  main > :last-child { margin-bottom: 0 !important; }
}
::-webkit-scrollbar { display: none; }